<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Create an Adventure</title>

    <link rel="stylesheet" href="/vendors/angular-material.min.css" />
    <link rel="stylesheet" href="/assets/styles/style.css" />

    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" scr="/vendors/angular-animate.min.js"></script>
    <script type="text/javascript" scr="/vendors/angular-aria.min.js"></script>
    <script type="text/javascript" scr="/vendors/angular-material.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.js"></script>

  </head>
  <body>
    <p>
      Schedule an adventure!
    </p>

<div ng-app="datepicker" ng-controller="AppCtrl">
  <md-content>
    <form action="/events" method="post">
    <md-datepicker ng-model="myDate" md-placeholder="Enter date">Date:</md-datepicker>

    <label for="time">Time:</label>
    <input type="text" name="password" id="password" />

    <label for="origin">Origin:</label>
    <input type="text" name="origin" id="origin" />

    <label for="destination">Destination:</label>
    <input type="text" name="destination" id="destination" />

    <input type="submit" value="Create Adventure" />

    </form>
  </md-content>
</div>
  </body>
</html>
