<div ng-controller="UserController">
  <div layout="row" flex="100" layout-margin="10" layout-padding="10">

    <h1>
      Register your sassy self!
    </h1>

    <form action="/register" method="post">
      <md-input-container>
      <label for="username">User Name:</label>
      <input type="text" name="username" id="username" />
     </md-input-container><br />

      <md-input-container>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      </md-input-container><br />

      <md-input-container>
      <label for="firstname">First Name:</label>
      <input type="text" name="firstname" id="firstname" />
      </md-input-container><br />

      <md-input-container>
      <label for="lastname">Last Name:</label>
      <input type="text" name="lastname" id="lastname" />
      </md-input-container><br />

      <md-input-container>
      <label for="email">Email Address:</label>
      <input type="text" name="email" id="email" />
      </md-input-container><br />

      <md-button class="md-raised md-accent" input type="submit" value="Register">Register!</md-button>

    </form>

  <img src="/assets/images/sassyfun.jpg" alt="Sassy Fun" style="width:480px;height:360px;" />

</div>
</div>
