<html ng-app="myApp">

<div ng-controller="EventController">
<div layout="row" layout-margin="10" layout-padding="10">

      <h1 id="welcome" class="lead">Welcome, SassyPants!</h1>

      <md-list>
      <md-list-item class="md-4-line" ng-repeat="event in eventInfo.response">
        <div class="md-list-item-text">
          <p>Date: {{ event.date | date : 'longDate' }}</p>
          <p>Time: {{ event.time | date : 'h:mm a' }}</p>
          <p>Origin: {{ event.origin }}</p>
          <p>Destination: {{ event.destination }}</p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>

</div>
</div>
</div>
